@font-face {
  font-family: "BaiJamjuree";
  src: url(./BaiJamjuree/BaiJamjuree-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BaiJamjuree";
  src: url(./BaiJamjuree/BaiJamjuree-SemiBold.ttf);
  font-weight: bold;
  font-style: normal;
}
