@font-face {
  font-family: "IBMPlexSans";
  src: url(./IBMPlexSans/IBMPlexSansThai-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexSans";
  src: url(./IBMPlexSans/IBMPlexSansThai-SemiBold.ttf);
  font-weight: bold;
  font-style: normal;
}
