@font-face {
  font-family: "IBMPlexMono";
  src: url(./IBMPlexMono/IBMPlexMono-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexMono";
  src: url(./IBMPlexMono/IBMPlexMono-SemiBold.ttf);
  font-weight: bold;
  font-style: normal;
}
